@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/*Code for the body of the page*/
body {
    font-family: Hind, sans-serif;
    font-weight: 300;
    color: #413f3D;
    margin: 0px 2%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: #F2F1EF;
}

/*"Topbar" of page containing icons*/

#topbar {
    border-bottom: 1px solid #8b8989;
    display: flex;
    justify-content: flex-end;

}

#topbar div {
    padding: 10px 20px;
}

#topbar i {
    font-size: 160%;
    color: #413f3D;
}

header {
    padding-top: 80px;
}

a {
    text-decoration: none;
}

/* headings and logo */
h1,
h2 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 4px;
    color: #413f3D;
}

#profile-photo {
    filter: drop-shadow(10px 10px 4px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid #252525;
}

#logo {
    font-size: 320%;
    padding-top: 20px;
}


#logo,
h1 {
    text-align: center;
}

/*Styling for navigation bar*/

nav {
    display: flex;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    letter-spacing: 4px;
    padding-top: 20px;

}

nav ul {
    list-style: none;

    padding: 10px;
}

nav ul li {
    display: inline;
    margin-top: 20px;
}


nav a {
    text-decoration: none;
    color: inherit;
    margin-right: 30px;
    margin-left: 30px;

}

#nav-bar a:hover {
    border-bottom: 1px solid #656C74;
}

.active {
    border-bottom: 1px solid #656C74;
}

/* styling for Gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px 20px 0px 20px;
    flex: 1 0 auto;
    padding-bottom: 100px;
    

}

.gallery .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery .row .column {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    column-count: 2;
   
}

.gallery .row .column img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
}

.border {
    width: 80%;
    height: 1px;
    margin: 0px auto;
    border-bottom: 1px solid #969696;
}

/*Styling for Get in Touch link*/

.contact-container {
    display: flex;
    justify-content: center;
    padding: 100px;
    font-size: 200%;

}

.contact-container a {
    border: none;
    color: #413f3D;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

.button {
    background-color: #F2F1EF;
    color: #413f3D;
    border: 2px solid #413f3D;
    padding: 16px 30px;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
    border-radius: 5px;

}

.button:hover {
    background-color: #B1A6A4;
    border: 2px solid #B1A6A4;
}



/*Styling for footer*/

footer {
    padding: 100px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #413f3D;


}

/*Styling for Video*/

.demo-reel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.demo-reel iframe {
    display: flex;
    justify-content: center;
}

/*Styling for About page*/


.info {
    margin: 5% 15%;
    text-align: justify;
    background-color: #c1b7a9;
}

.info div {
    padding: 15px;
}

.info h2 {
    padding: 10px 0px;
    text-align: center;

}

.info p {
    padding: 0px;
    text-align: center;
}

.info h4 {
    letter-spacing: 2px;
    text-align: center;
    padding: 5px 0px;
}

/*Media queries*/

@media screen and (max-width: 1920px) {}


@media screen and (max-width: 870px) {}

@media screen and (max-width: 430px) {

    #profile-photo {
        height: 150px;
    }

    #logo {
        font-size: 300%;
        padding-top: 20px;
    }

    nav {
        display: flex;
        justify-content: center;
        letter-spacing: 3px;
        padding-top: 20px;

    }

    nav ul {
        padding: 5px;
    }

    nav ul li {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .demo-reel {
        padding-top: 0px;
    }

    .demo-reel iframe {
        height: 300px;
    }
}