@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #F2F1EF;
    box-sizing: border-box;
}

/*Code for the body of the page*/
body {
    font-family: Hind, sans-serif;
    font-weight: 300;
    color: #413f3D;
    margin: 0px 2%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*"Topbar" of page containing icons*/

#topbar {
    border-bottom: 1px solid #8b8989;
    display: flex;
    justify-content: flex-end;
    
}

#topbar div {
    padding: 10px 20px;
}

#topbar i {
    font-size: 160%;
    color: #413f3D;
}

header {
    padding-top: 80px;
}

a {
    text-decoration: none;
}

/* headings and logo */
h1,
h2 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 4px;
    color: #413f3D;
}

#profile-photo {
    filter: drop-shadow(10px 10px 4px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid #252525;
}

#logo {
    font-size: 320%;
    padding-top: 20px;
}


#logo,
h1 {
    text-align: center;
}

/*Styling for navigation bar*/

nav {
    display: flex;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    letter-spacing: 4px;
    padding-top: 20px;

}

nav ul {
    list-style: none;
   
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-top: 20px;
}


nav a {
    text-decoration: none;
    color: inherit;
    margin-right: 30px;
    margin-left: 30px;

}

#nav-bar a:hover {
    border-bottom: 1px solid #656C74;
}

.active {
    border-bottom: 1px solid #656C74;
}

/* styling for Gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px 20px 0px 20px;
    flex: 1 0 auto;
    padding-bottom: 100px;

}

.gallery .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery .row .column {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.gallery .row .column img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
}

.border {
    width: 80%;
    height: 1px;
    margin: 0px auto;
    border-bottom: 1px solid #969696;
}

@media only screen and (max-width: 1920px) {}


/*Styling for Get in Touch link*/

.contact-container {
    display: flex;
    justify-content: center;
    padding: 100px;
    font-size: 200%;

}

.contact-container a {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

.contact-container button {
    background-color: #F2F1EF;
    color: #413f3D;
    border: 2px solid #413f3D;
    padding: 16px 30px;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
    border-radius: 5px;

}

.contact-container button:hover {
    background-color: #B1A6A4;
    color: #F2F1EF;
    border: 2px solid #B1A6A4;
    
}

/*Styling for footer*/

footer {
    padding: 150px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #413f3D;
    background-color: 
    

}

footer p{
    background-color: 
}